@import 'variables';
@import 'about-us';
@import './hero';

@mixin flexcontainer($justify: flex-end) {
  color: white;
  display: flex;
  justify-content: $justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

// nav {
//   background-color: aquamarine;
// }

// nav ul {
//   display: flex;
// }

nav {
  background-color: black;

  ul {
    @include flexcontainer($justify: center);
    list-style: none;
    gap: 1rem;
    height: 3.5rem;
    align-items: center;
    margin-right: $padding-md;
    li {
      color: $text-color;

      a {
        text-decoration: none;
        &:hover {
          cursor: pointer;
          color: aqua;
        }
      }
    }
  }
}
